[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  # Contributor(s):
  #   David Wilson
  #%]
[%
    title = "QuickIdeas"
    desc = "Quick idea entry extension"
%]

[% param_descs = {
    quickideas_group => "User group which has access to QuickIdeas page. " _
                        "If empty, allowed for all logged in users",
    quickideas_default_component => "Default component for entering ideas",
    quickideas_default_version => "Default version value for new bugs. " _
        "Leave empty to enable version field.",
    quickideas_extra_fields => "Extra fields displayed on the idea entry form",
    quickideas_enable_clone => "Enable cloning from external URL on idea entry page. " _
                               "Note that this feature requires the SeeAlsoPlus extension",
} %]
