[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  # Contributor(s):
  #   David Wilson
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS 'global/field-descs.none.tmpl' %]

[% USE Bugzilla %]

[% PROCESS global/header.html.tmpl
    title = 'Quick ' _ terms.bug _' entry'
    javascript_urls = [
        "extensions/QuickIdeas/web/js/ideas.js",
    ],
%]

<script>
var IDEAS_CONFIG = ([% ideas_config %]);
</script>

<div style="display: none"> <!-- templates -->
    <table id="idea_template" class="idea">
        [% IF enable_clone %]
        <tr>
            <th>Clone from</th>
            <td><input class="clone" tabindex="2"
                title="URL of the remote bug to clone from"/></td>
        </tr>
        [% END %]
        <tr>
            <td><button name="save" type="button">Submit</button></td>
            <td><span class="progress"></span></td>
        </tr>
    </table>
</div>

<style>
    #container {
      width: 100ex;
      max-width: 100%;
    }

    .idea {
        width: 100%;
        background: #efffef;
        margin-bottom: 1em;
    }

    .idea th,
    .idea td {
        padding: 4px;
    }
    .idea th {
        width: 15%;
        text-align: right;
        vertical-align: top;
    }

    .idea *[readonly,disabled] {
        background: #efefef;
    }
    .idea [name=comment] {
        width: 100%;
        height: 20em;
        resize: vertical;
    }
    .idea .field_value {
        width: 100%;
        min-width: 0px;
    }
    .idea .keep {
        vertical-align: top;
    }
    .idea .clone {
        width: 100%;
    }
    .idea .progress {
        width: 10%;
    }

    .help-hint {
      cursor: pointer;
      float: right;
      font-weight: bold;
    }
    #help {
        background: #efefef;
        display: none;
    }
</style>


<div id="container">
  <span class="help-hint">[ How this page works? ]</span>
  <span class="help-hint" style="display: none;"
    >[ Thank you, I know how this works ]</span>
  <h2>Quickly enter new [% terms.bugs %]</h2>
  <div id="help">
    <p>
    <a href="enter_bug.cgi">'Enter [% terms.bug %]'</a> form allows tweaking
    every detail awailable, but it has it's drawbacks regarding speed. You on
    the other hand are a snappy upstart who doesn't like waiting around to fill
    in forms all day. This page is the solution: enter [% terms.bugs %] as fast
    as you can type.
    </p>

    <ol>
      <li>
        <p>Select a component, or keep the default if you don't know where
        to send your idea.</p>
      </li>

      <li>
        <p>Type a title then hit tab. The keyboard focus is already in this
        field when the page loads.</p>
      </li>

      <li>
        <p>Type a description then hit tab.</p>
      </li>

      [% IF extra_fields.size %]
      <li>
        <p>If you have any other details, fill them in, or just skip the
        rest of the fields with tab.</p>
      </li>
      [% END %]

      <li>
        <p><strong>Success!</strong> After hitting tab in the last field
        your idea is merrily saving itself in the background. See step 2,
        it's already possible to enter your next idea. Have a jolly day.
        &#9786;
        </p>
      </li>
    </ol>

    <p>Tip: use the tab key gratuitously!</p>

    <p>Tip: if things are really slow, you don't have to wait for individual
    [%+ terms.bugs %] to save, the page will take care of waiting on
    [%+ terms.Bugzilla %] for you.</p>

    <p>Tip: the checkbox besides a field means "Keep this value for further
    ideas I'm about to enter". If you check the box, the value of that field
    will be preserved when clearing the form for your next idea. Keyboard
    shortcut CTRL-K allows you to quickly toggle the checkbox.</p>
  </div>

  <div id="ideas">
  </div>
</div>
<p style="clear: both; padding-top: 2em;">
</p>

[% PROCESS global/footer.html.tmpl %]
